<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h4 class="panel-title">Reminder</h4>
			</div>
			<div class="panel-body">
				<p>Please remember, <strong>all</strong> content posted on this forum is open to all GCA clinical employees. Please use respect when discussing sensitive topics.</p>
			</div>
		</div>
	</div>
</div>

<h3>Discussion Topics</h3>

<%= link_to "Start a New Topic", new_topic_url, class: "btn btn-success pull-right" %>

<table class="table table-striped" id="topics">
  <thead>
    <tr>
      <th>Title</th>
      <th class="hidden-xs">Started By</th>
      <th>Replies</th>
      <th>Last Activity</th>
    </tr>
  </thead>

  <tbody>
	<% unless @topics.empty? %>
	    <% @topics.each do |topic| %>
	      <tr class="topic">
			<td><%= link_to topic.title, topic %></td>
			<td class="hidden-xs"><%= topic.user %></td>
			<td><%= topic.posts.size - 1 %></td>
			<td><%= distance_of_time_in_words topic.updated_at, Time.now %> ago <small class="text-muted hidden-xs">by <%= topic.posts.last.user %></small></td>
	      </tr>
	    <% end %>
	<% else %>
		<tr><td>No topics found</td><td></td><td></td><td></td></tr>
	<% end %>
  </tbody>
</table>
