<h3>Start a New Topic</h3>

<%= form_for @topic do |f| %>
	<div class="fields">
		<div class="row-fluid">
			<div class="span8">
				<%= f.label :title %>
				<%= f.text_field :title, required: true, class: "input-block-level" %>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span8">
				<%= f.fields_for :posts do |p| %>
					<%= f.label :content %>
					<%= p.text_area :content,  required: true, class: "input-block-level" %>
					<%= p.hidden_field :user_id %>
				<% end %>
			</div>
		</div>
		
		<%= f.submit "Create", class: "btn" %>
	</div>

<% end %>