<h2><%= @topic.title %> <small class="text-muted">Started by <%= @topic.user %></small></h2>

<ul class="list-unstyled" id="posts">
	<% @topic.posts.each do |post| %>
	<li>
		<div class="row">
			<div class="col-sm-7">
				<p><%= simple_format post.content %></p>
				<% if current_user == post.user %>
				<small><%= link_to "Edit", edit_topic_post_url(@topic, post) %></small>
				<% end %>
			</div>
			<div class="col-sm-1 hidden-sm hidden-xs">
				<h1><%= post.user.initials %></h1>
			</div>
			<div class="col-sm-2">
				<%= message_user_link post.user %><br/>
				<small>
					<%= post.created_at.strftime("%A, %B %e") %><br/>
					<%= post.created_at.strftime("%l:%M%P") %><% if post.created_at != post.updated_at %> <strong>(Edited)</strong><% end %></small>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-7">
				<hr/>				
			</div>
		</div>
	</li>
	<% end %>
</ul>

<% if @topic.closed? %>
<div class="row">
	<div class="col-sm-7">
		<p class="text-muted">This topic has been closed.</p>
	</div>
</div>
<% else %>
<div class="row">
	<div class="col-sm-7">
		<%= render partial: "posts/form" %>
	</div>
</div>
<% end %>