<h3>Registered Users <small>(<%= @users.size %>)</small></h3>

<p>Users are synced from GCA SSO, but not deleted. You can delete inactive or closed accounts by selecting "Destroy" below.</p>

<div class="row">
	<div class="col-sm-12">
		<table class="table table-striped">
		  <thead>
		    <tr>
		  	  <th>UID</th>
			  <th>Name</th>
		      <th>Email</th>
			  <th>Roles</th>
		      <th>Last Activity</th>
		      <th></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @users.each do |user| %>
		      <tr>
		    	<td><%= user.uid %></td>
		  		<td><%= user.name_last_first %></td>
				<td><%= user.email %></td>
				<td><%= user.roles.join(", ") %></td>
				<td><%= user.last_activity %></td>
		        <td>
					<%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-inverse" if current_user.acts_as(:admin) %>
				</td>
		        <td></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>